<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        :root {
            --linear-grad: linear-gradient(to right, #141E30, #243B55);
            --grad-clr1: #141E30;
            --grad-clr2: #243B55;
            --background-color: #f6f5f7;
            --sidebar-color: #243B55;
            --sidebar-item-color: #FFF;
            --sidebar-item-hover-color: #DDD;
            --content-bg-color: #FFF;
            --header-bg-color: var(--linear-grad);
            --header-text-color: #FFF;
            --card-bg-color: var(--grad-clr1);
            --card-text-color: #FFF;
            --card-border-radius: 10px;
            --table-header-bg: #243B55;
            --table-header-text: #FFF;
            --table-row-hover-bg: #f1f1f1;
            --table-border-color: #DDD;
        }

        body {
            height: 100vh;
            background: var(--background-color);
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F3F7EC;
        }

        .dashboard-container {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: var(--content-bg-color);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: fixed;
        }

        .sidebar {
            width: 250px;
            background: var(--sidebar-color);
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .sidebar h2 {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 700;
            font-size: 55px;
            font-style: normal;
            color: #FFF;
        }

        .sidebar ul {
            list-style: none;
            width: 100%;
        }

        .sidebar ul li {
            width: 100%;
            margin: 10px 0;
        }

        .sidebar ul li a {
            color: var(--sidebar-item-color);
            text-decoration: none;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            transition: background 0.3s;
        }

        .sidebar ul li a i {
            margin-right: 10px;
        }

        .sidebar ul li a:hover,
        .sidebar ul li a.selected {
            background: var(--sidebar-item-hover-color);
            color: black;
            border-right: 0.5rem solid #ff1900;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        header {
            background: var(--header-bg-color);
            padding: 20px;
            color: var(--header-text-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px 10px 0 0;
        }

        header h1 {
            font-size: 24px;
        }

        header .logout {
            color: var(--header-text-color);
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color 0.3s;
        }

        header .logout i {
            margin-right: 5px;
        }

        header .logout:hover {
            color: var(--sidebar-item-hover-color);
        }

        main {
            flex-grow: 1;
            background: var(--content-bg-color);
            padding: 20px;
            border-radius: 0 0 10px 10px;
        }

        .section {
            display: none;
        }

        .section.active {
            display: block;
        }

        .cards {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .card {
            background: var(--card-bg-color);
            color: var(--card-text-color);
            padding: 20px;
            border-radius: var(--card-border-radius);
            flex: 1;
            text-align: center;
        }

        .recent-activity {
            background: var(--content-bg-color);
            padding: 20px;
            border-radius: var(--card-border-radius);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .recent-activity h2 {
            margin-bottom: 10px;
        }

        .recent-activity ul {
            list-style: none;
            padding: 0;
        }

        .recent-activity ul li {
            background: #f1f1f1;
            padding: 10px;
            margin: 5px 0;
            border-radius: var(--card-border-radius);
        }

        .profile-container1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            height: 100%;
            margin-left: 200px;
            margin-top: 0px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
        }

        .profile-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .profile-item {
            width: 100%;
            margin: auto;
            background-color: #ffffff;
            margin-bottom: 5px;

        }

        .profile-item label {
            font-weight: 600;
            font-size: 18px;
            color: #333;
        }

        .profile-item input {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background: #f9f9f9;
            font-size: 16px;
            width: 100%;
            color: #333;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .profile-item input:focus {
            background-color: #fff;
            border-color: var(--grad-clr1);
            outline: none;
        }

        .wallet-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 30%;
        }

        .wallet-card {
            margin-top: 30px;
            background: var(--card-bg-color);
            color: var(--card-text-color);
            padding: 20px;
            border-radius: var(--card-border-radius);
            flex: 1;
            text-align: center;
        }

        #donate-card {
            background: var(--card-bg-color);
            color: var(--card-text-color);
            padding: 20px;
            border-radius: var(--card-border-radius);
            flex: 1;
            text-align: center;

        }

        .wallet-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .wallet-item label {
            font-weight: 600;
        }

        .wallet-item input {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background: #f9f9f9;
            font-size: 16px;
        }

        .styled-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .styled-table thead tr {
            background-color: var(--table-header-bg);
            color: var(--table-header-text);
            text-align: left;
            font-weight: bold;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            border: 1px solid var(--table-border-color);
        }

        .styled-table tbody tr {
            border-bottom: 1px solid var(--table-border-color);
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid var(--table-header-bg);
        }

        .styled-table tbody tr:hover {
            background-color: var(--table-row-hover-bg);
        }

        .styled-table-donate {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }

        .styled-table-donate thead tr {
            background-color: var(--table-header-bg);
            color: var(--table-header-text);
            text-align: left;
            font-weight: bold;
        }

        .styled-table-donate th,
        .styled-table-donate td {
            padding: 12px 15px;
            border: 1px solid var(--table-border-color);
        }

        .styled-table-donate tbody tr {
            background-color: #ffffff;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            /* Ensure even spacing between items */
        }

        .styled-table-donate tbody tr:nth-of-type(even) {
            background-color: #f0f2f5;
        }

        .styled-table-donate tbody tr:hover {
            background-color: #f0f2f5;
        }

        .styled-table-donate td {
            border: none;
            padding: 15px;
            flex: 1;
            text-align: center;
            /* Center align text in each cell */
        }

        .wallet-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .wallet-table thead tr {
            background-color: var(--table-header-bg);
            color: var(--table-header-text);
            text-align: left;
            font-weight: bold;
        }

        .wallet-table th,
        .wallet-table td {
            padding: 12px 15px;
            border: 1px solid var(--table-border-color);
        }

        .wallet-table tbody tr {
            border-bottom: 1px solid var(--table-border-color);
        }

        .wallet-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .wallet-table tbody tr:last-of-type {
            border-bottom: 2px solid var(--table-header-bg);
        }

        .wallet-table tbody tr:hover {
            background-color: var(--table-row-hover-bg);
        }

        .nav-item {
            cursor: pointer;
            padding: 1rem;
            margin: 0.5rem 0;
            text-align: center;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .nav-item:hover,
        .nav-item.selected {
            background-color: #dddddd;
            color: black;
        }

        .nav-item.selected {
            border-right: 0.5rem solid #ff1900;
        }

        .right {
            flex-grow: 1;
            padding: 1.5rem;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
            margin: 1rem;
            margin-top: 0;
            overflow: hidden;
        }

        .section {
            display: none;
        }

        .section.active {
            display: block;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);
            transition: opacity 0.3s ease;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            animation: slide-in 0.5s ease-out;
        }

        @keyframes slide-in {
            from {
                transform: translateY(-50%);
                opacity: 0;
            }

            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;

        }

        .modal-body {
            text-align: center;
        }

        .modal-body p {
            margin: 10px 0;
        }

        .modal-footer {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .modal-footer button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #ff1900;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .modal-footer button:hover {
            background-color: #cc1500;
        }

        .close {
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .close:hover {
            color: #ff1900;
        }

        .modal-body input[type="number"] {
            width: 50%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
            transition: border-color 0.3s ease;
        }

        .modal-body input[type="number"]:focus {
            border-color: #ff1900;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <h2>Raise-Hub</h2>
            <ul>
                <li><a href="#" class="nav-item" data-section="profile"><i class="fas fa-user"></i> Profile</a></li>
                <li><a href="#" class="nav-item selected" data-section="donate"><i class="fas fa-donate"></i> Donate</a>
                </li>
                <li><a href="#" class="nav-item" data-section="wallet"><i class="fas fa-wallet"></i> Wallet</a></li>
                <li><a href="#" class="nav-item" data-section="transactions"><i class="fas fa-history"></i>
                        Transactions</a></li>
                <li><a href="/signout" class="logout"><i class="fas fa-sign-out-alt"></i> Signout</a></li>
            </ul>
        </div>
        <div class="content">
            <header>
                <h1>Hello, <%= user.firstName %>
                        <%= user.lastName %> 👋</h1>
            </header>
            <main>
                <div id="profile" class="section">
                    <h1>Profile</h1>
                    <div class="profile-container1">
                        <div class="profile-container">
                            <div class="profile-item">
                                <label>First Name</label>
                                <input type="text" value="<%= user.firstName %>" readonly />
                            </div>
                            <div class="profile-item">
                                <label>Last Name</label>
                                <input type="text" value="<%= user.lastName %>" readonly />
                            </div>
                            <div class="profile-item">
                                <label>Mobile Number</label>
                                <input type="text" value="<%= user.number %>" readonly />
                            </div>
                            <div class="profile-item">
                                <label>Wallet Amount</label>
                                <input type="text" value="<%= user.wallet %>" readonly />
                            </div>
                            <div class="profile-item">
                                <label>Number of Transactions</label>
                                <input type="text" value="<%= user.transactions.length %>" readonly />
                            </div>
                            <div class="profile-item">
                                <label>Number of Deposits</label>
                                <input type="text" value="<%= user.deposits.length %>" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="donate" class="section active">
                    <h1>Donate</h1>
                    <table class="styled-table-donate">
                        <tbody>
                            <tr>
                                <% foundations.forEach(foundation=> { %>
                            <tr>
                                <td>
                                    <a href="#"
                                        onclick="showDescriptionModal('<%= foundation.foundationName %>', '<%= foundation.description %>')">
                                        <%= foundation.foundationName %>
                                    </a>
                                </td>
                                <td>
                                    <%= foundation.cause %>
                                </td>
                                <td>
                                    <%= foundation.location %>
                                </td>
                                <td>
                                    <%= foundation.fundsRaised %>
                                </td>
                                <td>
                                    <%= foundation.contactDetails %>
                                </td>
                                <td>
                                    <button class="donate-btn" data-foundation='<%= JSON.stringify(foundation) %> '
                                        id="donate-card">Donate</button>
                                </td>
                            </tr>
                            <% }) %>
                                </tr>
                        </tbody>
                    </table>

                    <!-- Description Modal -->
                    <div id="descriptionModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 id="modalFoundationNameDesc"></h2>
                                <button class="close" onclick="closeDescriptionModal()">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p id="modalDescriptionDesc"></p>
                            </div>
                        </div>
                    </div>
                    <div id="donateModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Donate</h2>
                                <button class="close">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Foundation Name: <b id="modalFoundationName"></b></p>
                                <p>Cause: <b id="modalCause"></b></p>
                                <p>Location: <b id="modalLocation"></b></p>
                                <form id="donateForm" action="/donate" method="POST">
                                    <input type="hidden" name="foundationName" id="foundationNameInput">
                                    <input type="number" name="amount" placeholder="Donation Amount" required>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" form="donateForm">Donate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wallet" class="section">
                    <h1>Wallet</h1>
                    <div class="wallet-container">
                        <div class="wallet-item">
                            <label>Remaining Balance</label>
                            <input type="text" value="<%= user.wallet %>" readonly />
                        </div>
                        <form action="/addMoney" method="POST">
                            <div class="wallet-item">
                                <label>Enter Amount</label>
                                <input type="number" name="amount" step="100" required />
                            </div>
                            <input type="submit" class="wallet-card" value="Add Money" />
                        </form>
                    </div>
                    <table class="wallet-table">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.deposits.slice().reverse().forEach(deposit=> { %>
                                <tr>
                                    <td>
                                        <%= deposit.amount %>
                                    </td>
                                    <td>
                                        <%= deposit.date.toLocaleString() %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>

                <div id="transactions" class="section">
                    <h1>Transactions</h1>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Foundation Name</th>
                                <th>Cause</th>
                                <th>Location</th>
                                <th>Fund Donated</th>
                                <th>Date & Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.transactions.slice().reverse().forEach(transaction=> { %>
                                <tr>
                                    <td>
                                        <%= transaction.foundationName %>
                                    </td>
                                    <td>
                                        <%= transaction.cause %>
                                    </td>
                                    <td>
                                        <%= transaction.location %>
                                    </td>
                                    <td>
                                        <%= transaction.amount %>
                                    </td>
                                    <td>
                                        <%= transaction.date.toLocaleString() %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('.nav-item');
            const sections = document.querySelectorAll('.section');
            const modal = document.getElementById('donateModal');
            const closeModalBtns = document.querySelectorAll('.close');
            const cancelModalBtn = document.querySelector('.cancel');
            const donateForm = document.getElementById('donateForm');

            navItems.forEach(item => {
                item.addEventListener('click', function () {
                    const sectionToShow = this.getAttribute('data-section');
                    navItems.forEach(nav => nav.classList.remove('selected'));
                    this.classList.add('selected');
                    sections.forEach(section => {
                        if (section.id === sectionToShow) {
                            section.classList.add('active');
                        } else {
                            section.classList.remove('active');
                        }
                    });
                });
            });

            const donateButtons = document.querySelectorAll('.donate-btn');
            donateButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const foundation = JSON.parse(this.getAttribute('data-foundation'));
                    document.getElementById('modalFoundationName').textContent = foundation.foundationName;
                    document.getElementById('modalCause').textContent = foundation.cause;
                    document.getElementById('modalLocation').textContent = foundation.location;
                    document.getElementById('foundationNameInput').value = foundation.foundationName;
                    modal.style.display = 'block';
                });
            });

            closeModalBtns.forEach(btn => {
                btn.addEventListener('click', function () {
                    modal.style.display = 'none';
                });
            });

            cancelModalBtn.addEventListener('click', function () {
                modal.style.display = 'none';
            });

            window.addEventListener('click', function (event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            });
        });

        function showDescriptionModal(foundationName, description) {
            // Populate modal with foundation name and description
            document.getElementById("modalFoundationNameDesc").textContent = foundationName;
            document.getElementById("modalDescriptionDesc").textContent = description;

            // Display the modal
            document.getElementById("descriptionModal").style.display = "block";
        }

        function closeDescriptionModal() {
            // Close the modal
            document.getElementById("descriptionModal").style.display = "none";
        }
    </script>
</body>

</html>